<!DOCTYPE html>
<html lang="en">
<head>
   {{>headlinks}}
<style>
     .carousel-inner img {
        width: 100%;
        height: 100%;
  }
</style>
</head>
<body>
    
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto"> 
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/2db5a0d429e9281b34742a39928aaac4.jpg" alt="girl" class="img-fluid" title="Imdad">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>Trying to learn <span class="txt_clr">Expressjs</span> and building the website</h1>
                        <a href="/weather"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   {{>footer}}
    
</body>
</html>