<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
<style>
     .carousel-inner img {
        width: 100%;
        height: 100%;
  }
</style>
</head>
<body>
 
  {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto"> 
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>Get the latest <span class="txt_clr">Weather</span> Info of your City</h1>
                        <a href="/weather"><button>Check Now</button></a>
                    </div>

                    <div class="col-md-6 col-12 main_header_right">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                              <li data-target="#demo" data-slide-to="0" class="active"></li>
                              <li data-target="#demo" data-slide-to="1"></li>
                              <li data-target="#demo" data-slide-to="2"></li>
                            </ul>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="./images/gojo.jpg" alt="gojo" width="300px" height="300px"> 
                              </div>
                              <div class="carousel-item">
                                <img src="./images/office-background-6.webp" alt="girl" width="300px" height="300px">
                              </div>
                              <div class="carousel-item">
                                <img src="./images/gojo.jpg" alt="office" width="300px" height="300px">  
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
    
</body>
</html>